

  .ivsDataTable .ivsDataTableTable td {
    word-wrap: break-word;
    max-width: 7em;
    transition-duration: 50ms;
    transition-delay: 50ms;
    border-right: 1px solid #D9E4E6;
    text-align: left;
    margin: .5em .8em;
    padding: .8em;
  }
  

  tr:hover td {
    background: #D8D8D8;
  }

  div.ivsDataTablePagination {
    float: right;
  }

  .ivsDataTablePagination a {
    color: black;
    padding: 4px 8px;
  }
  
  .ivsDataTablePagination a.active {
    background-color: #614caf;
    color: white;
    border-radius: 3px;
  }
  
  .ivsDataTablePagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 3px;
  }

  .ivsDataTable .ivsDataTableTable th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .ivsDataTable th a.sort-by { 
    color: inherit;
    padding-right: 15px;
    /* position: -webkit-sticky; */
    /* position: absolute;
    white-space: nowrap; */
  }
  a.sort-by:before,
  a.sort-by:after {
    border: .5em solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 0em;
    top: 10%;
    position: absolute;
    width: 0;
  }
  a.sort-by:before {
    border-bottom-color: #71757B;
    margin-top: 0.3em;
  }
  a.sort-by:after {
    border-top-color: #71757B;
    margin-top: 1.4em;
  }
  a.sort-by.desc:after {
    border-top-color: white;
    margin-top: 1.4em;
  }
  a.sort-by.asc:before {
    border-bottom-color: white;
    margin-top: 0.3em;
  }