.header {
    &-root {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        height: var(--navbar-height);
        box-shadow: rgb(169 169 169) 0px 4px 8px -2px;
    }

    &-first-section {
        display: flex;
        gap: 30px;
        height: 100%;
    }

    &-tabs-root {
        display: flex;
        align-items: flex-end;
    }

    &-logo-root {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    &-logo-text {
        border-left: 1px solid #e2e2e2;
        padding-left: 10px;
    }
}
