h1,
h2 {
    font-family: tultralightregular, 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    margin: 0;
}

h3,
h4,
h5,
h6 {
    font-family: tlightregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #49166d;
    font-weight: 400;
}

h1 {
    font-size: 59px;
    line-height: 60px;
}

h2 {
    font-size: 44px;
    line-height: 35px;
}

h3 {
    font-size: 37px;
    line-height: 30px;
}

h4 {
    font-size: 27px;
    line-height: 25px;
}

h5 {
    font-size: 23px;
    line-height: 25px;
}

h6 {
    font-size: 21px;
    line-height: 20px;
}
