// Variables
:root {
    --navbar-height: 48px;

    //colors
    --telus-text-purple-color: #49166d;
    --telus-text-green-color: #6c0;
    --telus-pure-white-color: #fff;
}

.header-margin-top {
    margin-top: var(--navbar-height);
}
