// Variables
:root {
    --navbar-height: 55px;

    //colors
    --telus-text-purple-color: #49166d;
    --telus-text-green-color: #6c0;
    --telus-pure-white-color: #fff;
}

.header-margin-top {
    margin-top: var(--navbar-height);
}

.paragraph {
    font-size: 14px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    color: #49166d;
    font-weight: 400;
}

.h1 {
    font-size: 59px;
    line-height: 60px;
}

.h2 {
    font-size: 44px;
    line-height: 35px;
}

.h3 {
    font-size: 37px;
    line-height: 30px;
}

.h4 {
    font-size: 27px;
    line-height: 25px;
}

.h5 {
    font-size: 23px;
    line-height: 25px;
}

.h6 {
    font-size: 21px;
    line-height: 20px;
}

// Colors

.purple-text {
    color: var(--telus-text-purple-color);
}

// fonts
.font-14px {
    font-size: 14px;
}

.font-15px {
    font-size: 15px;
}

.font-16px {
    font-size: 16px;
}

.font-17px {
    font-size: 17px;
}

.font-18px {
    font-size: 18px;
}

.font-19px {
    font-size: 19px;
}

.font-20px {
    font-size: 20px;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

//paddings
.px-15px {
    padding: 0 15px;
}

// wrap
.no-wrap {
    white-space: nowrap;
}

// z-indexes
.z-ultra-high {
    z-index: 10000000000;
}

// positions
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
